*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BARRA DI NAVIGAZIONE CON TUTTI I SUOI CONTENUTI */
.navigationbar{
    position: relative;
    display: flex;
    width: 90%;
    height: 40px;
    /* debug */
    /* background-color: aqua; */
}
    /* qui trovo il primo contenitore */
.contenitore1{
    position: absolute;
    top: 0;
    left: 5%;
    display: inline-block;
    background-repeat: no-repeat;
    height: 40px;
    width: 50%;

    /* debub */
    /* background-color: blue; */
}
.nav1{
    display: inline-block;
    width: 50%;
    /* debug */
    /* background-color: chartreuse; */
}
.nav1 li{
    display: inline-block;
    list-style: none;
}
.nav1 li a{
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 10px;
}

/* QUI TROVO IL SECONDO CONTENITORE NELLA BARRA */
.contenitore2{
    position: absolute;
    top: 0;
    right: 5%;
    display: inline-block;
    width: 50%;
    height: 40px;
    text-align: right;

    /* debug */
    /* background-color: violet; */
}
.nav2{
    display: inline-block;
    width: 50%;
    /* debug */
    /* background-color: chartreuse; */
}
.nav2 li{
    display: inline-block;
    list-style: none;
}
.nav2 li a{
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 10px;
}






/* IMPOSTAZIONI JUMBOTRON */
.jumbotron{
    width: 90%;
    height:500px;
    margin: 0 auto;

    /* debug */
    background-color: rgb(134, 201, 255);
}
.principaltitle{
    font-size: 35px;
    text-align: left;
    height: 150px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 100px;
    
    /* debug */
    /* background-color: yellow; */
}
.leftcolumn{
    float: left;
    width: 30%;
    height: 150px;
    margin-top: 50px;
    margin-left: 66px;
    /* debug */
    /* background-color: violet; */
}
.accesstoservice{
    margin-top: 30px;
}

.rightcolumn{
    object-fit: cover;
    float: right;
    width: 58%;
    height: 300px;
    margin-top: 10px;
    margin-right: 66px;

    /* debug */
    /* background-color: tomato; */
}
.rightcolumn, .jumbo{
    max-width: 100%;
}
